<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	@Html.Partial("_StylesPartial", false)
	@RenderSection("Styles", required: false)
</head>
<body class="gray-bg">
	@RenderBody()

	@Html.Partial("_ScriptsPartial", false)
	@RenderSection("Scripts", required: false)
</body>
</html>